
.console-view {
    margin: auto;
    height: 362px;
    padding: 12px;
    text-align: left;
    background-color: #1a1a1a;
    border: 10px solid #444;
    overflow: hidden;
    border-radius: 20px;
}

.terminal-view {
    margin: auto;
    height: 362px;
    padding: 7px;
    text-align: left;
    background-color: #2D2E2C;
    border: 10px solid #444;
    overflow: hidden;
    border-radius: 20px;
}

#terminal {
    height: 360px;
}

.monitor-shell {
    position: relative;
    margin: auto;
    width: 500px;
    background-color: rgb(134, 134, 134);
    padding: 30px 30px 50px 30px;
    border-radius: 30px;
    border-bottom: 8px solid #666;
}

.monitor-speaker {
    position: absolute;
    bottom: 0;
    left: 40px;
    width: 100px;
    height: 30px;
}

.monitor-speaker div {
    width: 10px;
    height: 30px;
    background-color: #666;
    float: left;
    margin-right: 5px;
    border-radius: 3px 3px 0 0;
}

.monitor-led {
    width: 110px;
    height: 30px;
    position: absolute;
    bottom: 0;
    right: 40px;
    background-color: #666;
    border-radius: 10px 10px 0 0;
}

.monitor-led div{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    float: left;
    margin: 10px 12px;
    background-color: rgb(129, 129, 129);
}

.keypad {
    margin: 5px 0;
    /* background-color: #bbb; */
    padding: 5px;
    border-radius: 5px;;
}

.keyrow {
    overflow: hidden;
}

.key {
    display: inline-block;
    padding: 5px 15px;
    background-color: #999;
    border-radius: 4px;
    color: rgb(69, 69, 69);
    border-bottom: 5px solid #888;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    touch-action: manipulation;
}

@media(hover: hover) {
    .key:hover {
        background-color: rgb(145, 145, 145);
    }
}

.key.left {
    float: left;
    margin-right: 8px;
}

.key.right {
    float: right;
    margin-left: 8px;
}

.key.arrow {
    width: 15px;
}

.app-info p {
    margin: 2px;
    color: #333;
}

#console {
    width: 450px;
    height: 361px;
    padding-right: 10px;
    overflow: hidden;
}

.app-info {
    width: 500px;
    overflow: hidden;
    margin: auto;
    font-size: 14px;
}