body {
    font:16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: #ccc;
}

.wrapper {
    text-align: center;
    width: 600px;
    margin: auto;
}

.wrapper h1 {
    color: #444;
}

.console-view {
    margin: auto;
    height: 362px;
    padding: 12px;
    text-align: left;
    background-color: #1a1a1a;
    border: 10px solid #444;
    overflow: hidden;
    border-radius: 20px;
}

.monitor-shell {
    position: relative;
    margin: auto;
    width: 500px;
    background-color: rgb(134, 134, 134);
    padding: 30px 30px 50px 30px;
    border-radius: 30px;
}

.monitor-speaker {
    position: absolute;
    bottom: 0;
    left: 40px;
    width: 100px;
    height: 30px;
}

.monitor-speaker div {
    width: 10px;
    height: 30px;
    background-color: #666;
    float: left;
    margin-right: 5px;
    border-radius: 3px 3px 0 0;
}

.monitor-led {
    width: 110px;
    height: 30px;
    position: absolute;
    bottom: 0;
    right: 40px;
    background-color: #666;
    border-radius: 10px 10px 0 0;
}

.monitor-led div{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    float: left;
    margin: 10px 12px;
    background-color: rgb(129, 129, 129);
}

.app-info p {
    margin: 2px;
    color: #333;
}

#console {
    width: 450px;
    height: 361px;
    padding-right: 10px;
    overflow: hidden;
}

.app-info {
    width: 500px;
    overflow: hidden;
    margin: auto;
    font-size: 14px;
}


.jqconsole {
    padding: 0;
}

/* The current prompt text color */
.jqconsole-prompt {
    color: #ddd;
    background: none;
}

/* The command history */
.jqconsole-old-prompt {
	color: #ddd;
    font-weight: normal;
    background: none;
}
/* The text color when in input mode. */
.jqconsole-input {
	color: #ccc;
    font-weight: normal;
    background: none;
	padding-left: 2px;
}
/* Previously entered input. */
.jqconsole-old-input {
	color: #bbb;
	font-weight: normal;
	background: none;
	padding-left: 2px;
}
.console-default {
    color: #ddd;
}


.chat-view {
    overflow: hidden;
    border-radius: 10px 10px 0 0;
    text-align: left;
    position: fixed;
    height: 400px;
    width: 300px;
    bottom: 0;
    right: 50px;
    background-color: #555;
    border: 2px solid #444;
    z-index: 100;
}

.chat-collapsed {
    bottom: -370px;
}

.chat-header {
    top: 0;
    height: 30px;
    width: 300px;
    background-color: #333;
    border-bottom: 2px solid #444;
}

#chat-console {
    position: relative;
    height: calc(100% - 30px);
}

#chat-btn {
    float: right;
    margin: 7px;
    width: 16px;
    height: 16px;
    background-color: #888;
    cursor: pointer;
}