html {
    background-color: black;
}

body {
    background-image: url("bg/night_2.png");
    background-position: center;
    background-repeat: no-repeat;
    height: 742px;
}

.wrapper {
    text-align: center;
    width: 500px;
    margin: auto;
    padding-top: 100px;
}

.console-view {
    margin: auto;
    height: 362px;
    padding: 12px;
    text-align: left;
    background-color: #1a1a1a;
    border: 10px solid #444;
    overflow: hidden;
}

#console {
    width: 450px;
    height: 361px;
    padding-right: 10px;
    overflow: hidden;
}

.terminal-view {
    margin: auto;
    height: 372px;
    padding: 12px;
    text-align: left;
    background-color: #212221;
    border: 0 solid #444;
    overflow: hidden;
}

#terminal {
    height: 360px;
    border-radius: 4px;
    border: 5px solid rgb(45, 46, 44);
    overflow: hidden;
}

.monitor-shell {
    position: relative;
    margin: auto;
    width: 500px;
    background-color: #444;
}

.keypad {
    display: none;
}

.app-info {
    width: 500px;
    overflow: hidden;
    margin: auto;
    margin-top: 188px;
    font-size: 14px;
}

.app-info p {
    margin: 2px;
    color: #bbb;
}

.app-info a {
    color: #ddd;
}

footer {
    color: #bbb;
}

footer a {
    color: #ddd;
}